<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% include "header.html" %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h4>Topic Area</h4>
        <div class="row">
            <div readonly id="chat-log" cols="100" rows="20"></div><br>
{#            <textarea readonly id="chat-log" cols="100" rows="20"></textarea><br>#}
        </div>
        <div class="row my-3">
            <div class="col-10">
                <input id="chat-message-input" type="text">
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <input type="file" id="uploadFile" style="display: none;" />
                <input type="button" value="Upload" onclick="document.getElementById('uploadFile').click();" />
                <input class="btn btn-primary ml-2" id="chat-message-submit" type="button" value="Send">
              </div>
            </div>
        </div>
        {{ room_name|json_script:"room-name" }}
    </div>
</body>
<script>
    const divHTML = document.getElementById('chat-log');
    for (let i = 0; i < {{ chat_messages|safe }}.length; i++) {
      {#textarea.innerText += {{chat_messages|safe}}[i]+ "\r\n";#}
      divHTML.innerHTML +=
          "<div class='m-2 p-1 rounded w-50' style='background: lightgrey'>"+
          {{chat_messages|safe}}[i][1] +
          {#"<button type='button' onclick='document.getElementById("+{{chat_messages|safe}}[i][0]+").innerHTML = parseInt(document.getElementById("+{{chat_messages|safe}}[i][0]+").textContent)+1;upvote_counter("+{{chat_messages|safe}}[i][0]+")' name='upvote' value='upvote' onclick='upvote_counter("+i+")' class='btn btn-success btn-sm mx-2'>&#8593<span id="+{{chat_messages|safe}}[i][0]+" class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][2]+"</span></button>"+#}
          "<button type='button' onclick='upvote_counter("+{{chat_messages|safe}}[i][0]+")' class='btn btn-success btn-sm mx-2'>&#8593<span id='u"+{{chat_messages|safe}}[i][0]+"' class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][2]+"</span></button>"+
          "<button type='button' onclick='downvote_counter("+{{chat_messages|safe}}[i][0]+")' class='btn btn-danger btn-sm mx-2'>&#8595<span id='d"+{{chat_messages|safe}}[i][0]+"' class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][3]+"</span></button>"+
          "</div>\r\n";
    }

    {#scroll to bottom#}
    {#textarea.scrollTop = textarea.scrollHeight#}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function upvote_counter(chat_id) {
        {#window.open(url);#}
        var chatid = 'u'+chat_id;
        console.log(chatid)

        $.post({% url 'voting' %}, {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            chat_id: chat_id,
            voting_type: 'upvote',
        }, function (data) {
            console.log("upvoted!");
            if (data.status) {
                document.getElementById(chatid).innerHTML = parseInt(document.getElementById(chatid).textContent)+1
            }
        })
    }
    function downvote_counter(chat_id) {
        {#window.open(url);#}
        var chatid = 'd'+chat_id;
        console.log(chatid)

        $.post({% url 'voting' %}, {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            chat_id: chat_id,
            voting_type: 'downvote',
        }, function (data) {
            console.log("downvoted!");
            if (data.status) {
                document.getElementById(chatid).innerHTML = parseInt(document.getElementById(chatid).textContent)+1
            }
        })
    }
</script>
<style>
    .sellect-element{
        border: none;
        height: 18px;
        background: none;
        outline: none;
    }

    .sellect-container{
        border: 1px solid #ccc;
        padding: 5px 5px 0 5px;
        border-radius: 3px;
        margin-top: 5px;
        position: relative;
    }

    .sellect-destination-list{
        display: inline-block;
    }

    .sellect-destination-list .sellect-item{
        margin: 0 5px 5px 0;
        background-color: #e5e5e5;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 2px;
        padding: 0 5px 2px;
        display: inline-block;
    }

    .sellect-origin-list{
        overflow: auto;
        max-height: 0;
        opacity: 0;
        transition: opacity 1.1s ease, max-height .2s ease;
    }

    .sellect-origin-list.open{
        max-height: 138px;
        opacity: 1;
    }


    .sellect-origin-list .sellect-item{
        display: block;
        cursor: pointer;
        padding: 5px;
        border-radius: 3px;
        margin-right: 5px;
    }

    .sellect-origin-list .sellect-item:last-child{
        margin-bottom: 5px;
    }

    .sellect-origin-list .sellect-item:hover,
    .sellect-origin-list .sellect-item.active{
        background: #e2e2e2;
    }
</style>
<script>
    (function () {
        this.sellect = function (selector, options) {
            /*jslint newcap:true */
            return new _Sellect(selector, options);
        };

        this._Sellect = function (selector, options) {
            this.container = document.createElement("div");
            this.originListHTML = document.createElement("div");
            this.destinationListHTML = document.createElement("div");

            var defaults = {
                element:
                    typeof selector === "object"
                    ? selector
                    : document.querySelector(selector),
                originList: [],
                destinationList: [],
            };

            if (arguments[0] && typeof arguments[1] === "object") {
                this.options = extendDefaults(defaults, arguments[1]);
            }
        };

        function createHTML() {
            var self = this;

            if (self.options) {
            self.options.originList.forEach(function (item) {
                createListsHTML(self.originListHTML, item);
            });

            self.options.destinationList.forEach(function (item) {
                createListsHTML(self.destinationListHTML, item);
            });

            self.options.element.parentNode.insertBefore(
                self.container,
                self.options.element
            );

            self.container.appendChild(self.destinationListHTML);
            self.container.appendChild(self.options.element);
            self.container.appendChild(self.originListHTML);
            }
        }

        function createListsHTML(list, item) {
            var listItem = document.createElement("span");

            listItem.classList.add("sellect-trigger", "sellect-item");

            listItem.innerHTML = item;
            list.appendChild(listItem);
        }

        function initializeEvents() {
            var self = this;

            if (self.options) {
            self.originListHTML.addEventListener(
                "click",
                function () {
                    swapItemDOM.call(self, event.target, self.destinationListHTML);
                },
                false
            );

            self.destinationListHTML.addEventListener(
                "click",
                function () {
                    swapItemDOM.call(self, event.target, self.originListHTML, true);
                },
                false
            );

            self.options.element.addEventListener(
                "keyup",
                function () {
                    var key = event.keyCode || event.charCode;

                    switch (key) {
                        case 40:
                            if (self.originListHTML.childNodes.length > 0) {
                                selectionDown.call(self);
                                scrollTop.call(self);
                            }
                        break;

                        case 38:
                            if (self.originListHTML.childNodes.length > 0) {
                                selectionUp.call(self);
                                scrollBottom.call(self);
                            }
                        break;

                        case 13:
                            selectItemOriginList.call(self);
                        break;

                        default:
                            filterOriginList.call(self);
                        break;
                    }
                },
                false
            );

            self.options.element.addEventListener(
                "keydown",
                function () {
                    captureEmpty.call(self);
                },
                false
            );

            window.addEventListener(
                "click",
                function () {
                    closeOriginList.call(self);
                },
                false
            );
            }
        }

        function swapItemDOM(trigger, list, isRemove) {
            var self = this;
            var item;
            if (!trigger) return;

            item = trigger.classList.contains("sellect-trigger")
                ? trigger
                : trigger.parentNode;

            event.stopPropagation();

            if (
                !item ||
                item.className.indexOf("sellected-list") > -1 ||
                item.className.indexOf("sellect-list") > -1
            ) {
                return;
            }

            if (isRemove) {
                item.parentNode.removeChild(item);
            }
            const selectedTag = self.options.element.value
            const span = document.createElement("span")
            span.style = { padding: "0 5px 2px" }
            span.innerHTML = selectedTag.substring(0, selectedTag.lastIndexOf("#"))

            list.appendChild(span);
            list.appendChild(item.cloneNode(true));

            item.classList.remove("active");
 
            self.options.element.value = "";
            self.options.element.focus();
            createEventListener.call(self, "keyup");
            
            self.options.originList = [];
            self.options.destinationList = [];

            self.options.originList = self.getUnselected();
            self.options.destinationList = self.getSelected();

            if (self.options.onInsert) self.options.onInsert(event, item);

            if (self.options.onRemove) self.options.onRemove(event, item);
        }

        function filterOriginList() {
            var self = this;
            var value = event.target.value;
            var items = self.originListHTML.childNodes;

            if (value.includes("#")) {
                const substr = value.substring(value.lastIndexOf("#") + 1, value.length);

                if (substr.length) {
                    openOriginList.call(self);
                }

                items.forEach(function (item) {
                    if (item.innerText.toLowerCase().startsWith(substr.toLowerCase())) {
                        item.style.display = "inherit";
                    } else {
                        item.style.display = "none";
                    }
                });
            } else {
                closeOriginList.call(self);
            }
        }

        function captureEmpty() {
            var self = this;
            var key = event.keyCode || event.charCode;
            var string = event.target.value;

            if (
            key === 8 &&
            string === "" &&
            self.destinationListHTML.childNodes.length > 0
            ) {
            var lastItem = self.destinationListHTML.lastElementChild;
            lastItem.click();
            }
        }

        function selectionUp() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];
            var prevItem;

            if (!selectedItem || !selectedItem.previousElementSibling) {
            return;
            }

            prevItem = getOriginListVisibleItem(selectedItem.previousElementSibling);

            if (prevItem) {
                prevItem.classList.add("active");
                selectedItem.classList.remove("active");
            }
        }

        function selectionDown() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];
            var nextItem;

            if (!selectedItem) {
                nextItem = getOriginListVisibleItem(
                    self.originListHTML.childNodes[0],
                    "down"
                );

                if (nextItem) {
                    nextItem.classList.add("active");
                }

                return;
            }

            if (!selectedItem.nextElementSibling) return;

            nextItem = getOriginListVisibleItem(
                selectedItem.nextElementSibling,
                "down"
            );

            if (nextItem) {
                nextItem.classList.add("active");
                selectedItem.classList.remove("active");
            }
        }

        function scrollTop() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];

            if (!selectedItem) return;

            var itemPositionTop = selectedItem.offsetTop;

            if (
            itemPositionTop >=
            self.originListHTML.clientHeight + selectedItem.clientHeight
            ) {
            self.originListHTML.scrollTop =
                self.originListHTML.scrollTop + selectedItem.clientHeight;
            return true;
            }
        }

        function scrollBottom() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];

            if (!selectedItem) return;

            var itemPositionTop = selectedItem.offsetTop;

            if (
                itemPositionTop <=
                self.originListHTML.scrollHeight -
                    self.originListHTML.clientHeight +
                    selectedItem.clientHeight
            ) {
                self.originListHTML.scrollTop =
                    self.originListHTML.scrollTop - selectedItem.clientHeight;
                return true;
            }
        }

        function getOriginListVisibleItem(selectCandidate, direction) {
            if (direction === "down") {
            while (
                selectCandidate.offsetParent === null &&
                selectCandidate.nextElementSibling
            ) {
                selectCandidate = selectCandidate.nextElementSibling;
            }
            } else {
            while (
                selectCandidate.offsetParent === null &&
                selectCandidate.previousElementSibling
            ) {
                selectCandidate = selectCandidate.previousElementSibling;
            }
            }

            return selectCandidate.offsetParent !== null ? selectCandidate : false;
        }

        function selectItemOriginList() {
            var self = this;

            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];

            swapItemDOM.call(self, selectedItem, self.destinationListHTML);
        }

        function createEventListener(eventType) {
            var self = this;
            var customEvent = document.createEvent("Event");
            customEvent.initEvent(eventType);
            self.options.element.dispatchEvent(customEvent);
        }

        function openOriginList() {
            var self = this;
            event.stopPropagation();

            if (!self.originListHTML.classList.contains("open")) {
                self.options.element.focus();
                self.originListHTML.classList.add("open");
            }
        }

        function closeOriginList() {
            var self = this;
            event.stopPropagation();

            if (self.originListHTML.classList.contains("open")) {
                self.originListHTML.classList.remove("open");
            }
        }

        function toggleOriginList() {
            var self = this;
            event.stopPropagation();

            if (!self.originListHTML.classList.contains("open")) {
                self.originListHTML.classList.add("open");
            } else {
                self.originListHTML.classList.remove("open");
            }
        }

        function extendDefaults(source, properties) {
            var property;
            for (property in properties) {
                if (properties.hasOwnProperty(property)) {
                    source[property] = properties[property];
                }
            }
            return source;
        }

        _Sellect.prototype.init = function () {
            var self = this;

            if (self.options) {
                self.options.destinationList.forEach(function (itemOuter) {
                    self.options.originList = self.options.originList.filter(function (
                    itemInner
                    ) {
                        return itemInner !== itemOuter;
                    });
                });

                self.options.element.setAttribute("class", "sellect-element");
                self.container.setAttribute("class", "sellect-container");
                self.originListHTML.setAttribute("class", "sellect-origin-list");
                self.destinationListHTML.setAttribute(
                    "class",
                    "sellect-destination-list"
                );
            }

            createHTML.call(self);
            initializeEvents.call(self);
        };

        _Sellect.prototype.clear = function () {
            var self = this;
            self.destinationListHTML.innerHTML = ""
            self.options.destinationList = [];

        }
        _Sellect.prototype.getMessage = function () {
            var self = this;
            let message = ""

            for (var i = 0; i < self.destinationListHTML.childNodes.length; i++) {
                const item = self.destinationListHTML.childNodes[i] 
                if (item.className.includes("sellect-trigger")) {
                    message += " #" + item.textContent.replace(/^\s+|\s+$/gm,'')
                } else {
                    message += " " + item.textContent.replace(/^\s+|\s+$/gm,'')
                }
            }

            message = message.trim() 
            const inputValue = self.options.element.value.replace(/^\s+|\s+$/gm,'').trim()

            return message ? `${message} ${inputValue}` : inputValue
        }

        _Sellect.prototype.getSelected = function () {
            var self = this;
            self.options.destinationList = [];

            for (var i = 0; i < self.destinationListHTML.childNodes.length; i++) {
                const item = self.destinationListHTML.childNodes[i] 
                
                if (item.className.includes("sellect-trigger")) {
                    self.options.destinationList.push(item.textContent);
                }
            }

            return self.options.destinationList;
        };

        _Sellect.prototype.getUnselected = function () {
            var self = this;
            self.options.originList = [];

            for (var i = 0; i < self.originListHTML.childNodes.length; i++) {
            self.options.originList.push(
                self.originListHTML.childNodes[i].textContent
            );
            }

            return self.options.originList;
        };
    })();
</script>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    function toBase64 (file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        })
    } 

    const predictiveOptions = [{"tag": "Alfalfa"},{"tag": "Almond"},{"tag": "Apple"}, {"tag": "Alpha"}]
    const mySellect = sellect("#chat-message-input", {
        originList: predictiveOptions.map(opt => opt.tag)
    });

    mySellect.init();

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        {#document.querySelector('#chat-log').value += (data.message + '\n');#}
        document.querySelector('#chat-log').innerHTML +=
            "<div class='m-2 p-1 rounded w-50' style='background: lightgrey'>"+
            (data.message + '\n')+
            "<button type='button' onclick='upvote_counter("+(data.id)+")' class='btn btn-success btn-sm mx-2'>&#8593<span id='u"+(data.id)+"' class='badge badge-dark badge-sm'>"+(data.upvote)+"</span></button>"+
            "<button type='button' onclick='downvote_counter("+(data.id)+")' class='btn btn-danger btn-sm mx-2'>&#8595<span id='d"+(data.id)+"' class='badge badge-dark badge-sm'>"+(data.downvote)+"</span></button>"+
            "</div>";
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = async function(e) {
        const file = document.getElementById("uploadFile").files[0];
        const message = mySellect.getMessage();

        const payload = {
            'message': message,
            'roomName': roomName
        }
  
        if (file) {
            const fileInBase64 = await toBase64(file)
            payload.file = fileInBase64;
        }

        chatSocket.send(JSON.stringify(payload));
        mySellect.clear()
    };
</script>
</html>