<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>html{visibility: hidden;opacity:0;}</style>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- custom css -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css')}}">
    <!-- fontawesome css and js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js" integrity="sha512-nKvEIGRKw2OQCR34yLfnWnvrOBxidLG9aK+vzsBxCZ/9ZxgcS4FrYcN+auWUTkCitTVZAt82InDKJ7x+QtKu6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--    ploty-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %} - Agstack </title>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-transparent">
      <div class="container-fluid">
      {% if current_user %}
          <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='nav-logo.svg') }}" alt="nav-logo" width="140" height="48">
        </a>
              {% else %}
          <a class="navbar-brand" href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='nav-logo.svg') }}" alt="nav-logo" width="140" height="48">
        </a>
              {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              {% if current_user %}
                  <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" aria-current="page" href="{{ url_for('home') }}">Home</a>
            </li>
               <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'dashboard' else '' }}" aria-current="page" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
                  <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'update' else '' }}" aria-current="page" href="{{ url_for('update') }}">Account Settings</a>
            </li>
                  <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'signup' else '' }}" href="{{ url_for('signup') }}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if active_page == 'login' else '' }}" href="{{ url_for('login') }}">Login</a>
            </li>
              {% endif %}
          </ul>

        </div>
      </div>
    </nav>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- Optional JavaScript for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>
