{% extends 'base.html' %}
{% set active_page='dashboard' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h3 class="d-flex justify-content-center align-items-center mt-4">Users Dashboard</h3>
    <div class="d-flex justify-content-center align-items-center mt-2"><b>Total Users:</b> {{user_count}}</div>
    <div class="d-flex justify-content-center align-items-center mt-2"><b>Total Authorized Domains:</b> {{domain_count}}</div>
    <div class="d-flex flex-nowrap justify-content-center align-items-center mt-4">
        {% for id in ids %}
            <div id="{{id}}"></div>
        {% endfor %}
        <script type="text/javascript">
            var graphs = {{graphJSON | safe}};
            var ids = {{ids | safe}};
            for(var i in graphs) {
                Plotly.plot(ids[i],
                graphs[i].data,
                graphs[i].layout || {});
            }
        </script>
    </div>

{% endblock %}