{% extends 'base.html' %}
{% set active_page='home' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h3 class="d-flex justify-content-center align-items-center mt-4">Homepage</h3>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <a class="btn btn-primary btn-xl" href="{{ url_for('asset_registry_home') }}" target="_blank">Asset Registry</a>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4"><a class="btn btn-info" href="
                {{ url_for('generate_api_keys') }}">Generate API Key and Client Secret
    </a></div>
    <div class="d-flex justify-content-center align-items-center mt-4"><a class="btn btn-info" href="
            {{ url_for('resend_confirmation') }}">Resend Activation Email
    </a></div>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}" role="alert">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
