{% extends 'auth-template.html' %}
{% set active_page='login' %}
{% block title %}
    Reset Password
{% endblock %}
{% block form_heading %}
    Reset Password
{% endblock %}
{% block auth_form_content %}

    <!-- Password input -->

    <div class="form-outline mb-4 text-start">
        {{ form.password.label(class_="form-label ms-1") }}
        {{ form.password(class_="form-control", placeholder_="Enter your password") }}

    {% if form.password.errors %}
    <ul>
        {% for error in form.password.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <p class="text-muted ms-1">Password must be at least 8 characters long. It must contain an upper-case letter, a lower-case letter and a number</p>
    </div>

      <div class="form-outline mb-4 text-start">
        {{ form.confirm_pass.label(class_="form-label ms-1") }}
        {{ form.confirm_pass(class_="form-control", placeholder_="Confirm your password") }}
    {% if form.confirm_pass.errors %}
    <ul>
        {% for error in form.confirm_pass.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>

    <!-- Submit button -->
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Reset Password">

    <!-- Section: Design Block -->
{% endblock %}
