{% extends 'auth-template.html' %}
{% set active_page='signup' %}
{% block script %}
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }
      function showPosition(position) {
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lng").value = position.coords.longitude;
      }
      getLocation();
    </script>
{% endblock %}
{% block title %}
    Signup
{% endblock %}
{% block form_heading %}
    Sign up now
{% endblock %}

{% block auth_form_content %}
    <!-- Email input -->
    <div class="form-outline mb-4 text-start">
        {{ form.email.label(class_="form-label ms-1") }}
        {{ form.email(class_="form-control", placeholder_="Enter your email") }}
     {% if form.email.errors %}
    <ul>
        {% for error in form.email.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
     {% endif %}
    </div>
    <!-- Number input -->

    <div class="form-outline mb-4 text-start">
        {{ form.phone_num.label(class_="form-label ms-1") }}
        {{ form.phone_num(class_="form-control", placeholder_="921234567890") }}
     {% if form.phone_num.errors %}
    <ul>
        {% for error in form.phone_num.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>

    <!-- Password input -->

    <div class="form-outline mb-4 text-start">
        {{ form.password.label(class_="form-label ms-1") }}
        {{ form.password(class_="form-control", placeholder_="Enter your password") }}

    {% if form.password.errors %}
    <ul>
        {% for error in form.password.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <p class="text-muted ms-1">Password must be at least 8 characters long. It must contain an upper-case letter, a lower-case letter and a number</p>
    </div>

      <div class="form-outline mb-4 text-start">
        {{ form.confirm_pass.label(class_="form-label ms-1") }}
        {{ form.confirm_pass(class_="form-control", placeholder_="Confirm your password") }}
    {% if form.confirm_pass.errors %}
    <ul>
        {% for error in form.confirm_pass.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>

    <!-- Checkbox -->


  <div class="form-check d-flex justify-content-center mb-4">
        {{ form.discoverable(class_="form-check-input me-2") }} {{ form.discoverable.label(class_="form-check-label") }}
    {% if form.discoverable.errors %}
    <ul>
        {% for error in form.discoverable.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>

    <div class="form-check d-flex justify-content-center mb-4">
        {{ form.newsletter(class_="form-check-input me-2") }} {{ form.newsletter.label(class_="form-check-label") }}
    {% if form.newsletter.errors %}
    <ul>
        {% for error in form.newsletter.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>

    <input type="hidden" name="lng" id="lng" value="">
    <input type="hidden" name="lat" id="lat" value="">
    <!-- Submit button -->
  <input type="submit" class="btn btn-primary btn-block mb-4" value="Sign up">
    <div class="text-center">
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
      <p class="mt-4">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>

    </div>

<!-- Section: Design Block -->
{% endblock %}
